<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 65vh;
            background-color: #ffcece;
        }

        #userForm {
            background-color: #fff;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 8px 8px rgba(202, 13, 13, 0.1);
            width: 555px;
        }

        label {
            font-weight: bold;
            color: #0b0909;
        }

        input {
            width: 100%;
            padding: 8px;
            margin: 8px 0;
            border: 1px solid #fa9b9b;
            border-radius: 4px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 3px;
            cursor: pointer;
            position: -ms-page;
        }

        button:hover {
            background-color: #9fab92;
        }
    </style>
</head>

<body>
    <div id="userForm">
        <h1>Add User</h1>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required><br>

            <button type="submit" onclick="addUser()">Add User</button>
        </form>
    </div>

    <script>
        function addUser() {
            const username = document.getElementById('username').value;
            const email = document.getElementById('email').value;
            const age = document.getElementById('age').value;

            const user = {
                username: username,
                email: email,
                age: age
            };

            console.log('New User:', user);
        }  </script>
</body>

</html>