<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="icon" type="image/png" href="/wassup.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<style>
    .submit-button {
        width: 100%;
    }
</style>

<body>
    <div class="container">
        <h2 class="text-center mt-5">Registration</h2> <br><br>
        <div class="card border-primary mb-3 mx-auto" style="max-width: 800px;">
            <div class="card-header">Enter Your Details</div>
            <div class="card-body">
                <form id="registerForm" action="/user/register" method="POST">
                    <div class="form-group row">
                        <label for="firstName" class="col-sm-2 col-form-label">First Name:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="firstName" name="firstName" required>
                        </div>
                        <label for="lastName" class="col-sm-2 col-form-label">Last Name:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="lastName" name="lastName" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="mobile" class="col-sm-2 col-form-label">Mobile:</label>
                        <div class="col-sm-4">

                            <input type="tel" class="form-control" id="mobile" name="mobile" required maxlength="10">
                        </div>
                        <label for="password" class="col-sm-2 col-form-label">Password:</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="address" class="col-sm-2 col-form-label">Address:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="address" name="address" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="gender" class="col-sm-2 col-form-label">Gender:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="gender" name="gender" required>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-8 offset-sm-4">
                            <p>Already have an account? <a href="/">Login here</a></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="button" id="submitButton" class="btn btn-primary btn-block">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.getElementById('submitButton').addEventListener('click', async () => {
            // Get form data
            const formData = new FormData(document.getElementById('registerForm'));
            const formObject = {};
            formData.forEach((value, key) => {
                formObject[key] = value;
            });
            const jsonData = JSON.stringify(formObject);

            try {
                const response = await fetch('/user/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: jsonData
                });

                if (response.ok) {
                    showPopUp('success', 'Registration successful', true, 2000);
                    window.location.href = '/';
                } else {
                    const errorMessage = await response.json();
                    showPopUp('error', errorMessage.error, true, 2000);
                }
            } catch (error) {
                console.error('Error:', error);
                showPopUp('error', 'An unexpected error occurred. Please try again later.', true, 2000);
            }
        });

        function showPopUp(type, message, showConfirm, expireIn) {
            Swal.fire({
                icon: type,
                title: message,
                showConfirmButton: showConfirm,
                timer: expireIn
            });
        }
        document.getElementById('mobile').addEventListener('input', function (event) {
            this.value = this.value.replace(/[^\d]/g, ''); // Remove any non-numeric characters
            if (this.value.length > 10) {
                this.value = this.value.slice(0, 10); // Trim the value to the first 10 characters
            }
        });
    </script>
</body>

</html>