<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="icon" type="image/png" href="/wassup.png">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h2>Registration</h2>
    <form id="registerForm" action="/user/register" method="POST">
        <label for="firstName">First Name:</label><br>
        <input type="text" id="firstName" name="firstName" required><br>
        <label for="lastName">Last Name:</label><br>
        <input type="text" id="lastName" name="lastName" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="mobile">Mobile:</label><br>
        <input type="text" id="mobile" name="mobile" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" required><br>
        <label for="gender">Gender:</label><br>
        <select id="gender" name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select><br>
        <p>Already have an account? <a href="/">Login here</a></p>
        <button type="submit">Register</button>
    </form>

    <!-- JavaScript to redirect to login page after successful registration -->
    <script>
        document.getElementById('registerForm').addEventListener('submit', async (event) => {
            event.preventDefault();

            // Get form data
            const formData = new FormData(event.target);
            const formObject = {};
            formData.forEach((value, key) => {
                formObject[key] = value;
            });
            const jsonData = JSON.stringify(formObject);

            try {
                const response = await fetch('/user/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: jsonData
                });

                if (response.ok) {
                    // Registration successful, redirect to login page
                    window.location.href = '/';
                    alert('Registration successful. Redirecting to login page.');
                } else {
                    // Registration failed, handle error
                    const errorMessage = await response.json();
                    alert(`Registration failed: ${errorMessage.error}`);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An unexpected error occurred. Please try again later.');
            }
        });
    </script>
</body>

</html>
